.main {
  margin: 1px; /* 박스구별쉽게 해놓은 마진 */
  height: 60px;
  padding: 20px;
  font-size: 20px;
  border-style: solid;
  border-color: blue;
  display: flex; /* 인접한 요소 세로배치(Home.js) */
  justify-content: space-evenly;
}

.title {
  margin: 1px; /* 박스구별쉽게 해놓은 마진 */
  width: 400px;
  list-style: none;
  border-style: solid;
  border-color: rgb(139, 139, 255);
  display: flex; /* 인접한 요소 세로배치(Home.js) */
  justify-content: flex-start;
  align-items: center; /* 박스 안 글자 세로 중앙정렬 */
}

.ul {
  margin: 1px; /* 박스구별쉽게 해놓은 마진 */
  width: 800px;
  list-style: none;
  border-style: solid;
  border-color: rgb(139, 139, 255);
  display: flex; /* 인접한 요소 세로배치(Home.js) */
  justify-content: flex-end;
  align-items: center; /* 박스 안 글자 세로 중앙정렬 */
}

.li {
  margin-left: 40px;
  border-style: solid;
  border-color: rgb(199, 199, 255);
}
