.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding: 20px;
  font-size: 20px;
  background-color: rgba(170, 170, 170, 0.95);
  display: flex; /* 인접한 요소 세로배치(Home.js) */
  justify-content: space-evenly;
  align-items: center; /* 박스 안 컨텐츠 세로 중앙정렬 */
}

.title {
  margin: 1px; /* 박스구별쉽게 해놓은 마진 */
  padding: 10px;
  height: 20px;
  list-style: none;
  border-style: solid;
  border-color: rgb(0, 0, 255);
  display: flex; /* 인접한 요소 세로배치(Home.js) */
  margin-right: auto;
  justify-content: flex-start;
  align-items: center; /* 박스 안 컨텐츠 세로 중앙정렬 */
}

.ul {
  margin: 1px; /* 박스구별쉽게 해놓은 마진 */
  padding: 10px;
  list-style: none;
  border-style: solid;
  border-color: rgb(0, 0, 255);
  display: flex; /* 인접한 요소 세로배치(Home.js) */
  flex: none;
  justify-content: flex-end;
  align-items: center; /* 박스 안 컨텐츠 세로 중앙정렬 */
}

.li {
  height: 20px;
  border-style: solid;
  border-color: rgb(78, 78, 255);
  margin-left: 20px;
  align-items: center; /* 박스 안 컨텐츠 세로 중앙정렬 */
}
