.main {
  border-style: solid;
  border-color: aqua;
  padding: 10px;
  margin: 10px;
  display: flex; /* 인접한 요소 가로배치(Home.js) */
  justify-content: center;
  align-items: center;
}

.search {
  background-color: rgba(0, 0, 0, 0.1);
  border: 10px;
  width: 20%;
  height: 50px;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none; /* 포커스 시 파란테두리 제거 */
  font-size: 20px;
}
